@import "var";

.container-header,
.user-details {
  width: 36%;
}
.login-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-button {
  background-color: $purple;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  width: 160%;
  color: white;
}
