@import "var";

.profile-picture-container {
  display: flex;
  justify-content: center;
  background: rgb(232, 218, 178);
  background: linear-gradient(
    135deg,
    rgba(232, 218, 178, 1) 0%,
    rgba(221, 110, 66, 1) 35%,
    rgba(79, 109, 122, 1) 100%
  );
  img {
    position: relative;
    top: 50px;
    border: 4px solid white;
    width: clamp(170px, 15%, 20rem);
    border-radius: 50%;
    margin-bottom: 2rem;
  }
}

.profile-field {
  // background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
  }
}
.detail-label-and-field {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.multiple-detail-container,#educationGap{
  animation: fadeInRight 1s ease 1;
}

.remove-add-button {
  width: 10%;
  background-color: #d9dbdf;
  border-radius: 1rem;
  border:none !important;
  color: black;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  animation: fadeInRight 1s ease 1;
  
  &:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(-80px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}