@import "var";

body {
  font-family: sans-serif;
  font-weight: 100;
}

.chart-heading {
    margin-top: 3px;
    text-align: center;
}

.stats-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
