{% extends 'recruitment/student_profile/student_base.html' %}
{% block student_data %}
<div class="container-header my-account-header">
    <h2 class="container-title">Education</h2>
  </div><br><br>
<h4>Post Graduation</h4>
<div class="field-container contact-information">
    <div class="multiple-detail-container wide-input user-details">
        <div class="detail-label-and-field">
            <label class="detail-title" for="input-postgraduate">Post Graduate Institute</label>
            <input type="text" name="pg-institute" id="input-postgraduate" class="detail-field"
                placeholder="National Institute of Technology, AP" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title" for="input-postgraduate-programme">Programme</label>
            <select name="pg-programme" class="detail-field" id="input-pg-programme">
                <option value="MTech">M.Tech</option>
                <option value="MS">M.S</option>
                <option value="MBA">M.B.A</option>
            </select>
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title" for="input-postgraduate-degree-specailization">Specialization</label>
            <select name="pg-field_of_study" class="detail-field" id="input-postgraduate-degree-specailization">
                <option value="BioProcess Engineering">BioProcess Engineering</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Geotechnical Engineering">Geotechnical Engineering</option>
                <option value="Computer Science and Data Analytics">Computer Science and Data Analytics</option>
                <option value="Power Electronics and Drives">Power Electronics and Drives</option>
                <option value="Advanced communication systems and signal processing">Advanced Communication Systems and
                    Signal Processing</option>
                <option value="Thermal Engineering">Thermal Engineering</option>
                <option value="Manufacturing Engineering">Manufacturing Engineering</option>
            </select>
        </div>


        <div class="detail-label-and-field">
            <label class="detail-title" for="input-yearOfEnrollment">Year of Enrollment</label>
            <input type="number" name="pg-year_of_enrollment" step="1" id="input-yoepg" class="detail-field"
                placeholder="2016" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title" for="input-yearOfGraduation">Year of Graduation</label>
            <input type="number" name="pg-year_of_passing" step="1" id="input-yogpg" class="detail-field"
                placeholder="2020" />
        </div>
        
        <div class="detail-label-and-field">
            <label class="detail-title" for="input-postgraduate-score">CGPA</label>
            <input type="number" name="pg-score" step="0.01" min="0" max="10" id="input-postgraduate-score"
                class="detail-field" placeholder="8.94" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title" for="input-inter-class">Class</label>
            <select name="pg-passing_class" class="detail-field" id="input-pgdegree-class">
                <option value="">-</option>
                <option value="Distinction">Distinction</option>
                <option value="First Class">First Class</option>
                <option value="Second Class">Second Class</option>
                <option value="Third Class">Third Class</option>

            </select>
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title" for="input-mtech">Post Graduate Degree Consolidated Marksheets</label>
            <input type="file" name="pg-marksheet" id="input-pgdegree-marksheet" class="detail-field"
                accept="application/pdf" placeholder="Upload M.Tech Marksheets" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title" for="input-mtech">Post Graduate Degree Certificate</label>
            <input type="file" name="pg-certificate" id="input-pgdegree-certificate" class="detail-field"
                accept="application/pdf" placeholder="Upload M.Tech Certificate" />
        </div>
        <input type="hidden" name="pg-student" value="{{ request.user.id }}">
        <input type="hidden" name="pg-level" value="PG">
        <input type="hidden" name="pg-score_type" value="CGPA">

    </div>

</div>
<h4>Under Graduation</h4>
<div class="multiple-detail-container wide-input user-details">

    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-undergraduate">Under Graduate Institute</label>
        <input type="text" name="ug-institute" required id="input-undergraduate" class="detail-field"
            placeholder="National Institute of Technology, AP" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-undergraduate-degree">Programme</label>
        <select name="ug-programme" class="detail-field" required id="input-ug-degree">
            <option value="BTech">B.Tech</option>
            <option value="BE">B.E</option>
            <option value="BSc">B.Sc</option>
            <option value="BCA">B.C.A</option>
        </select>
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-undergraduate-degree-specialization">Specialization</label>
        <select name="ug-field_of_study" class="detail-field" required id="input-undergraduate-degree-specialization">
            <option value="CSE">CSE</option>
            <option value="ECE">ECE</option>
            <option value="EEE">EEE</option>
            <option value="CHEM">CHEM</option>
            <option value="CIVIL">CIVIL</option>
            <option value="MECH">MECH</option>
            <option value="BIOT">BIOT</option>
            <option value="MME">MME</option>
        </select>
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-yoeug">Year of Enrollment</label>
        <input type="number" name="ug-year_of_enrollment" step="1" required id="input-yoeug" class="detail-field"
            placeholder="2016" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-yogug">Year of Graduation</label>
        <input type="number" name="ug-year_of_passing" step="1" required id="input-yogug" class="detail-field"
            placeholder="2020" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-undergraduate-score">CGPA</label>
        <input type="number" name="ug-score" step="0.01" min="0" max="10" required id="input-undergraduate-score"
            class="detail-field" placeholder="8.54" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title" for="input-minor-degree">Minor Degree</label>
        <input type="text" name="minor_degree" id="input-minor-degree" class="detail-field"
            placeholder="Software Engineering" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title" for="input-minor-degree-score">Minor Degree CGPA</label>
        <input type="number" name="minor_gpa" step="0.01" min="0" max="10" id="input-minor-degree-score"
            class="detail-field" placeholder="8.54" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title" for="input-honors-degree">Honors Degree</label>
        <input type="text" name="honors_degree" id="input-honors-degree" class="detail-field"
            placeholder="Software Engineering" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title" for="input-honors-degree-score">Honors Degree CGPA</label>
        <input type="number" name="honors_gpa" step="0.01" min="0" max="10" id="input-honors-degree-score"
            class="detail-field" placeholder="8.54" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title" for="input-ugdegree-class">Class</label>
        <select name="ug-passing_class" class="detail-field" id="input-ugdegree-class">
            <option value="">-</option>
            <option value="Distinction">Distinction</option>
            <option value="First">First Class</option>
            <option value="Second">Second Class</option>
            <option value="Third">Third Class</option>
        </select>
    </div>
    <input type="hidden" name="ug-level" value="UG">
    <input type="hidden" name="ug-score_type" value="CGPA">
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-ugdegree">Under Graduate Degree Consolidated Marksheets</label>
        <input type="file" name="ug-marksheet" required id="input-ugdegree-marksheets" class="detail-field"
            accept="application/pdf" placeholder="Upload Under Graduation Degree Marksheets" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-ugdegree">Under Graduate Degree Certificate</label>
        <input type="file" name="ug-certificate" required id="input-ugdegree-certificate" class="detail-field"
            accept="application/pdf" placeholder="Upload Under Graduation Degree Certificate" />
    </div>
    <input type="hidden" name="ug-student" value="{{ request.user.id }}">
</div>
<h4>Intermediate</h4>
<div class="multiple-detail-container wide-input user-details">

    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-12th">Intermediate College
        </label>
        <input type="text" name="inter-institute" required id="input-intermediate" class="detail-field"
            placeholder="albakra Junior College" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-inter-board">Board</label>
        <select name="inter-programme" class="detail-field" required id="input-inter-board">
            <option value="State">State Board</option>
            <option value="CBSE">CBSE</option>
            <option value="ICSE">ICSE</option>
        </select>
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-intermediate-group">Group</label>
        <select name="inter-field_of_study" class="detail-field" required id="input-intermediate-group">
            <option value="MPC">MPC</option>
            <option value="MBiPC">MBiPC</option>
            <option value="MEC">MEC</option>
            <option value="BiPC">BiPC</option>
            <option value="DIPLOMA">DIPLOMA</option>
        </select>
    </div>

    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-yoe-inter">Year of Enrollment</label>
        <input type="number" name="inter-year_of_enrollment" step="1" required id="input-yoe-inter" class="detail-field"
            placeholder="2016" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-yoc-inter">Year of Completion</label>
        <input type="number" name="inter-year_of_passing" step="1" required id="input-yoc-inter" class="detail-field"
            placeholder="2020" />
    </div>
    <input type="hidden" name="inter-level" value="inter">
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-inter-score-type">Score type</label>
        <select name="inter-score_type" class="detail-field" required id="input-inter-score-type">
            <option value="CGPA">CGPA</option>
            <option value="PERCENTAGE">Percentage</option>
        </select>
    </div>
   
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-intermediate-score">Score</label>
        <input type="number" name="inter-score" step="0.01" min="0" max="100" required id="input-intermediate-score"
            class="detail-field" placeholder="69.42" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title" for="input-inter-class">Class</label>
        <select name="inter-passing_class" class="detail-field" id="input-inter-class">
            <option value="">-</option>
            <option value="Distinction">Distinction</option>
            <option value="First">First Class</option>
            <option value="Second">Second Class</option>
            <option value="Third">Third Class</option>
        </select>
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-inter">Intermediate certificate</label>
        <input type="file" name="inter-certificate" required id="input-inter" class="detail-field"
            accept="application/pdf" placeholder="Upload intermediate certificate" />
    </div>
    <input type="hidden" name="inter-student" value="{{ request.user.id }}">

</div>
<h4>Tenth Grade</h4>
<div class="multiple-detail-container wide-input user-details">
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-tenth">10th School
        </label>
        <input type="text" name="tenth-institute" required id="input-tenth" class="detail-field"
            placeholder="shakti bhakti school" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-tenth-board">Board</label>
        <select name="tenth-programme" class="detail-field" required id="input-tenth-board">
            <option value="State">State Board</option>
            <option value="CBSE">CBSE</option>
            <option value="ICSE">ICSE</option>
        </select>
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-yoc-tenth">Year of Completion</label>
        <input type="number" name="tenth-year_of_passing" step="1" required id="input-yoc-tenth" class="detail-field"
            placeholder="2020" />
    </div>
    
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-tenth-score">CGPA/Score</label>
        <input type="number" name="tenth-score" step="0.01" min="0" max="100" required id="input-tenth-score"
            class="detail-field" placeholder="9.5" />
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title" for="input-tenth-class">Class</label>
        <select name="tenth-passing_class" class="detail-field" id="input-tenth-class">
            <option value="">-</option>
            <option value="Distinction">Distinction</option>
            <option value="First">First Class</option>
            <option value="Second">Second Class</option>
            <option value="Third">Third Class</option>

        </select>
    </div>
    <div class="detail-label-and-field">
        <label class="detail-title required" for="input-tenth">10th Standard certificate</label>
        <input type="file" name="tenth-certificate" required id="input-tenth" class="detail-field"
            accept="application/pdf" placeholder="Upload 10th certificate" />
    </div>
    <input type="hidden" name="tenth-student" value="{{ request.user.id }}">
    <input type="hidden" name="tenth-year_of_enrollment" value="0">
    <input type="hidden" name="tenth-field_of_study" value="NULL">
    <input type="hidden" name="tenth-score_type" value="CGPA">
    <input type="hidden" name="tenth-level" value="10th">
</div>
{% include 'recruitment/student_profile/backlogs.html' %}
    <hr>
    <h3>Education Gap</h3><br>
    <div><input type="checkbox" name="gap_in_education" id="edu-gap" onchange="eduGapDetails(this)"><label
        for="edu-gap">&nbsp;Taken
        a break from education</label></div>
    <div style="display: none;" class="detail-label-and-field non-resizable-field" id="education-gap">
      <label class="detail-title" for="input-edu-gap">tell us about list of gaps in the format: from_data, to_date,
        reason for the gap</label>
      <textarea type="text" name="reason_for_gap_in_education" id="input-edu-gap" class="detail-field user-detail-text"
        placeholder="from_data, to_date, reason for the gap"></textarea>
    </div>
    <hr />
    <div class="edit-button-div">
        <button class="edit-button" type="reset">RESET</button>
        <button class="edit-button submit-button" type="submit">SAVE</button>
      </div>
{% endblock %}