    <h3>Permanent Address</h3>
    <div class="field-container contact-information">

      <div class="detail-label-and-field">
        <label class="detail-title wide-input required" for="input-address1">Address line 1</label>
        <input type="text" name="permanent-line_1" required id="input-address1" class="detail-field"
          placeholder="Tilak Marg, Mandi House,New Delhi" />
      </div>
      <div class="detail-label-and-field">
        <label class="detail-title wide-input required" for="input-address2">Address line 2</label>
        <input type="text" name="permanent-line_2" required id="input-address2" class="detail-field"
          placeholder="Tilak Marg, Mandi House,New Delhi" />
      </div>
      <div class="detail-label-and-field">
        <label class="detail-title required" for="input-city">City</label>
        <input type="text" name="permanent-city" required id="input-city" class="detail-field" placeholder="New Delhi" />
      </div>
      <div class="detail-label-and-field">
        <label class="detail-title required" for="input-state">State</label>
        <input type="text" name="permanent-state" required id="input-state" class="detail-field" placeholder="New Delhi" />
      </div>
      <div class="detail-label-and-field">
        <label class="detail-title required" for="input-personal-pincode">Postal Code</label>
        <input type="number" name="permanent-pincode" required id="input-personal-pincode" class="detail-field"
          placeholder="110001" />
      </div>
      <div class="detail-label-and-field">
        <label class="detail-title required" for="input-country">Country</label>
        <input type="text" name="permanent-country" required id="input-country" class="detail-field" placeholder="India" />
      </div>
      <input type="hidden" name="permanent-address_type" value="P">
    </div>