    <h3>Personal Information</h3>
    <div class="field-container personal-information">
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-firstname">First Name</label>
            <input type="text" required id="input-firstname" class="detail-field" name="profile_first_name"
                placeholder="First Name" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-lastname">Last Name</label>
            <input type="text" required id="input-lastname" class="detail-field" name="last_name"
                placeholder="Last Name" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-personal-mail">Email Address (Institute mail ID)</label>
            <input type="email" required id="input-personal-mail" name="email" class="detail-field"
                placeholder="example@nitandhra.ac.in" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-personal-mobile">Mobile Number</label>
            <input type="tel" required id="input-personal-mobile" class="detail-field" name="mobile_number"
                placeholder="+91 1231231231" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-gender">Gender</label>
            <select name="gender" class="detail-field" required id="input-gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Others</option>

            </select>
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-date-of-birth">Date Of Birth</label>
            <input type="date" name="date_of_birth" required id="input-date-of-birth" class="detail-field" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-personal-rollnumber">Roll Number</label>
            <input type="number" name="roll_number" required id="input-personal-rollnumber" class="detail-field"
                placeholder="411887" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-personal-registrationnumber">Registration Number</label>
            <input type="number" name="registration_number" required id="input-personal-registrationnumber"
                class="detail-field" placeholder="411887" />
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-programme">Programme</label>
            <select name="programme" class="detail-field" required id="input-programme">
                <option value="B.Tech">B.Tech</option>
                <option value="M.Tech">M.Tech</option>
            </select>
        </div>
        <div class="detail-label-and-field">
            <label class="detail-title required" for="input-personal-branch">Branch</label>
            <select name="field_of_study" class="detail-field" required id="input-personal-branch">
                <option value="CSE">CSE</option>
                <option value="ECE">ECE</option>
                <option value="EEE">EEE</option>
                <option value="CHEM">CHEM</option>
                <option value="CIVIL">CIVIL</option>
                <option value="MECH">MECH</option>
                <option value="BIOT">BIOT</option>
                <option value="MME">MME</option>
            </select>
        </div>
        <input type="hidden" name="student" value="{{ request.user.id }}">
    </div>