{% extends 'recruitment/base.html' %}
{% load sass_tags %}
{% load static %}

{% block metadata %}
<title>Edit Profile</title>
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/navbar-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/input-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/dashboard-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/profile-styles.scss' %}" />
<script src="{% static 'recruitment/js/add-remove-html.js'%}"></script>
<script src="{% static 'recruitment/js/editProfile.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="user-details-container" enctype="multipart/form-data" action="{% url 'edit_profile' %}" method="post">
    {% block student_data %}
    {% endblock %}
</div>
{% endblock %}