<div id="add-students-modal" class="modal ">
    <div class="flex-row parent-list-container">
        <div class="flex-col" style="gap: 1.5rem;">
            <h2>Select Students For Next Round</h2>
            <div class="flex-row" style="align-items: center; gap: 2rem;">
                <label for="student-search-field" class="detail-title">Search Students</label>

                <input type="search" id="student-search-field" class="detail-field" onkeyup="filter(this)" />

            </div>
            <div class="flex-col">
                <ul id="student-list" class="list-container">
                    

                </ul>
            </div>
        </div>
        <div class="flex-col" style="gap: 1.5rem;">
            <h2>Selected Students</h2>
            <div class="flex-row" style="align-items: center; gap: 2rem;">
                <label for="added-student-search-field" class="detail-title">Search Students</label>

                <input type="search" id="added-student-search-field " class="detail-field"
                    onkeyup="selectedFilter(this)" />

            </div>
            <div class="flex-col">
                <ul id="added-student-list" class="list-container">


                </ul>
            </div>
        </div>
    </div>

</div>