{% extends 'recruitment/base.html' %}
{% load sass_tags %}

{% block metadata %}
<title>Applied Jobs</title>
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/navbar-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/applied-styles.scss' %}" />
{% endblock %}

{% block content %}
<section class="applied-container">
  <div class="container-header">
    <h2 class="container-title">Applied Opportunities</h2>
  </div>
  <div class="placements-overview">
    {% for job in jobs_applied %}
      {% include "recruitment/applied_job_card.html" with job=job %}
    {% endfor %}
  </div>
</section>
{% endblock %}