{% extends 'recruitment/base.html' %}
{% load sass_tags %}
{% load static %}

{% block metadata %}
<title>Edit Profile</title>
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/navbar-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/input-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/dashboard-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/profile-styles.scss' %}" />
<script src="{% static 'recruitment/js/add-remove-html.js'%}"></script>
<script src="{% static 'recruitment/js/editProfile.js' %}" defer></script>
{% endblock %}

{% block content %}
<form class="user-details-container" enctype="multipart/form-data" action="{% url 'edit_profile' %}" method="post">
  {% csrf_token %}
  {% for error_field, error_message in form.errors.items %}
  {{ error_field|striptags }}: {{ error_message|striptags }}
  <br>
  {% endfor %}
  <div class="profile-picture-container">
    <img src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
      alt="user image" />
  </div>
  <div class="container-header my-account-header">
    <h2 class="container-title">My Account</h2>
  </div>


  <div class="user-details">
    {% include 'recruitment/student_profile/personal_information.html' %}
    <hr />
    {% include 'recruitment/student_profile/permanent_address.html' %}
    <hr />
    {% include 'recruitment/student_profile/hostel_address.html' %}
    <hr />
    {% include 'recruitment/student_profile/education.html' %}
    <br>
    <hr>
    {% include 'recruitment/student_profile/backlogs.html' %}
    <hr>
    <h3>Education Gap</h3><br>
    <div><input type="checkbox" name="gap_in_education" id="edu-gap" onchange="eduGapDetails(this)"><label
        for="edu-gap">&nbsp;Taken
        a break from education</label></div>
    <div style="display: none;" class="detail-label-and-field non-resizable-field" id="education-gap">
      <label class="detail-title" for="input-edu-gap">tell us about list of gaps in the format: from_data, to_date,
        reason for the gap</label>
      <textarea type="text" name="reason_for_gap_in_education" id="input-edu-gap" class="detail-field user-detail-text"
        placeholder="from_data, to_date, reason for the gap"></textarea>
    </div>
    <hr />

    <div class="heading-container">
      <h3>Certifications</h3>
      <input type="hidden" id="certificate-count" name="certificate_count" value="1">
      <button type="button" class="remove-add-button" onclick="addCertificationRow()">Add</button>
    </div>
    <div class="field-container personal-information" id="certification-container">
      <div class="multiple-detail-container wide-input">
        <div class="detail-label-and-field">
          <label class="detail-title" for="input-certificate1">Certification Name</label>
          <input type="text" name="cert0-name" id="input-certificate1" class="detail-field"
            placeholder="Machine Learning" />
        </div>
        <div class="detail-label-and-field">
          <label class="detail-title" for="input-issuing-authority">Issuing Authority</label>
          <input type="text" name="cert0-issuing_authority" id="input-issuing-authority" class="detail-field"
            placeholder="Coursera" />
        </div>
        <div class="detail-label-and-field">
          <label class="detail-title" for="input-certupload1">Upload certificate</label>
          <input type="file" name="cert0-certificate" id="input-certupload1" class="detail-field"
            accept="application/pdf" placeholder="Upload 10th certificate" />
        </div>
        <input type="hidden" name="cert0-student" value="{{ request.user.id }}">
        <div class="detail-label-and-field">
          <label class="detail-title hide">.</label>
          <button type="button" class="edit-button remove-add-button" onclick="removeRow(this)">-</button>
        </div>
      </div>
    </div>

    <hr />

    <h3>Upload Resume (only pdf)</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field">
        <label class="detail-title required" for="input-resume">Resume</label>
        <input type="file" name="resume" name="" required id="input-resume" class="detail-field"
          accept="application/pdf" placeholder="Upload Resume" />
      </div>
    </div>

    <hr />
    <h3>Experience</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field non-resizable-field">
        <label class="detail-title required" for="input-techskills">Technical Skills</label>

        <textarea type="text" name="technical_skills" id="input-skills" class="detail-field user-detail-text"
          placeholder="Describe your technical skills"></textarea>
      </div>
      <div class="detail-label-and-field non-resizable-field">
        <div class="heading-container">
          <label class="detail-title" for="input-internships">Projects</label>
          <h4 class="edit-button remove-add-button" onclick="addProjectRow()">Add</h4>
          <input type="hidden" id="project-count" name="project_count" value="1">
        </div>
        <div class="field-container personal-information" id="project-container">
          <div class="field-container personal-information non-resizable-field">
            <div class="three-detail-container wide-input">

              <div class="detail-label-and-field non-resizable-field">
                <label class="detail-title" for="input-project-title">Project title</label>
                <input type="text" name="project0-title" id="input-project-title" class="detail-field"
                  placeholder="Project title" />

              </div>
              <div class="detail-label-and-field non-resizable-field">
                <label class="detail-title" for="input-project-contribution">Type of participation</label>
                <select name="project0-is_team_project" class="detail-field" required id="project-contribution-type">
                  <option value="Team">Team</option>
                  <option value="Individual">Individual</option>
                </select>

              </div>
              <input type="hidden" name="project0-student" value="{{ request.user.id }}">
              <div class="detail-label-and-field">
                <label class="detail-title hide">.</label>
                <h4 class="edit-button remove-add-button" onclick="removepppRow(this)">Remove</h4>
              </div>
            </div>
            <div class="detail-label-and-field non-resizable-field">
              <label class="detail-title" for="input-project-description">Project Description</label>
              <textarea type="text" name="project0-description" id="input-projects"
                class="detail-field user-detail-text"
                placeholder="Tell us about your project. The basic idea, its impact, tech stack etc"></textarea>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br>
    <div class="detail-label-and-field non-resizable-field">
      <div class="heading-container">
        <label class="detail-title" for="input-internships">Internships</label>
        <h4 class="edit-button remove-add-button" onclick="addInternshipRow()">Add</h4>
        <input type="hidden" id="internship-count" name="internship_count" value="1">
      </div>
      <div>
        <div class="field-container personal-information" id="internship-container">
          <div class="field-container personal-information non-resizable-field">
            <div class="three-detail-container wide-input">
              <div class="detail-label-and-field">
                <label class="detail-title" for="input-area-of-internship">Area of Internship</label>
                <input type="text" name="internship0-area" id="input-area-of-internship" class="detail-field"
                  placeholder="Machine Learning" />
              </div>
              <div class="detail-label-and-field">
                <label class="detail-title" for="input-company">Company</label>
                <input type="text" name="internship0-company" id="input-company" class="detail-field"
                  placeholder="Coursera" />
              </div>
              <div class="detail-label-and-field">
                <label class="detail-title" for="input-duration">Duration</label>
                <input type="text" name="internship0-duration" id="input-duration" class="detail-field"
                  placeholder="6 months" />
              </div>
              <div class="detail-label-and-field">
                <label class="detail-title hide">.</label>
                <h4 class="edit-button remove-add-button" onclick="removepppRow(this)">Remove</h4>
              </div>
            </div>
            <input type="hidden" name="internship0-student" value="{{ request.user.id }}">
            <div class="detail-label-and-field non-resizable-field">
              <label class="detail-title" for="input-certupload1">Description</label>
              <textarea type="text" name="internship0-description" id="input-internships"
                class="detail-field user-detail-text" placeholder="Describe Company, Role, Responsibitily"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <label class="detail-title" for="input-awards">Awards/Recognitions received</label>

      <textarea type="text" name="achievements" id="input-awards" class="detail-field user-detail-text"
        placeholder="List Your Awards/Recognitions one per line"></textarea>
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <label class="detail-title" for="input-papers">Papers Publications</label>

      <textarea type="text" name="publications" id="input-papers" class="detail-field user-detail-text"
        placeholder="Describe Your Published Papers"></textarea>
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <label class="detail-title" for="input-hackathon">Hackathons Participated</label>

      <textarea type="text" name="hackathons_participated" id="input-hackathon" class="detail-field user-detail-text"
        placeholder="Hackathons Participated list"></textarea>
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <div class="heading-container">
        <label class="detail-title" for="input-social-profile-links">Social Profiles</label>
        <h4 class="edit-button remove-add-button" onclick="addSocialProfilesRow()">Add</h4>
        <input type="hidden" id="social-profile-count" name="social_profile_count" value="1">
      </div>
      <div class="field-container personal-information" id="social-profiles-container">
        <div class="field-container personal-information non-resizable-field">
          <div class="three-detail-container wide-input">

            <select name="social0-name" class="detail-field" required id="input-social-profile-links">
              <option value="GitHub">GitHub</option>
              <option value="LinkedIn">LinkedIn</option>
              <option value="StackOverFlow">Stack Over Flow</option>
              <option value="Others">Others</option>
            </select>

            <h4 class="edit-button remove-add-button" onclick="removeRow(this)">Remove</h4>

          </div>
          <input type="hidden" name="social0-student" value="{{ request.user.id }}">

          <div class="detail-label-and-field">
            <input type="url" name="social0-link" id="social-profile-link" class="detail-field"
              placeholder="github profile link" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="detail-label-and-field non-resizable-field">
    <label class="detail-title" for="input-extraca">Extra Curricular Activities</label>

    <textarea type="text" name="extra_curricular_activities" id="input-extraca" class="detail-field user-detail-text"
      placeholder="Describe your Extra Curricular Activities"></textarea>
  </div>
  <hr />
  <h3 class="required">Confirm the correctness of your details</h3>
  <div class="personal-information">
    <input type="checkbox" name="correctness" id="aggrement-check" name="aggrementCheck" style="display:inline" />
    <span class="detail-title" for="aggrement-check"> I agree that the details provided above are true and
      correct to the best of my knowledge. If any information I have provided is incorrect, I understand that I
      will be barred from attending any recruitment drives.</span>
  </div><br><br>
  </div>

  <div id="user_id" style="visibility: hidden;">{{request.user.id}}</div>

  </div>
  </div>
  <div class="edit-button-div">
    <button class="edit-button" type="reset">RESET</button>
    <button class="edit-button submit-button" type="submit">SAVE</button>
  </div>
</form>
{% endblock %}