{% extends 'recruitment/student_base.html' %}
{% load sass_tags %}
{% load static %}

{% block metadata %}
<title>Edit Profile</title>
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/navbar-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/input-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/profile-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/dashboard-styles.scss' %}" />
<script src="{% static 'recruitment/js/add-remove-html.js'%}"></script>
<script src="{% static 'recruitment/js/editProfile.js' %}"></script>
{% endblock %}

{% block content %}
<section class="user-details-container">
  <div class="profile-picture-container">
    <img src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
      alt="user image" />
  </div>
  <div class="container-header">
    <h2 class="container-title">My Account</h2>
    <h4 class="edit-button">Save</h4>
  </div>

  <div class="user-details">
    <h3>Personal Information</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-firstname">First Name</label>
        <input type="text" required id="input-firstname" class="user-detail-field" placeholder="First Name" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-lastname">Last Name</label>
        <input type="text" required id="input-lastname" class="user-detail-field" placeholder="Last Name" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-mail">Email Address (Institute mail ID)</label>
        <input type="email" required id="input-personal-mail" class="user-detail-field"
          placeholder="example@nitandhra.ac.in" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-mobile">Mobile Number</label>
        <input type="tel" required id="input-personal-mobile" class="user-detail-field" placeholder="+91 1231231231" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-gender">Gender</label>
        <select name="input-gender" class="user-detail-field" required id="input-gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>

        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-rollnumber">Roll Number</label>
        <input type="number" required id="input-personal-rollnumber" class="user-detail-field" placeholder="411887" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-registrationnumber">Registration Number</label>
        <input type="number" required id="input-personal-registrationnumber" class="user-detail-field"
          placeholder="411887" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-programme">Programme</label>
        <select name="input-programme" class="user-detail-field" required id="input-programme">
          <option value="BTECH">B.Tech</option>
          <option value="MTECH">M.Tech</option>
          <option value="UGDEGREE">Undergraduate Degree</option>
          <option value="PGDEGREE">Postgraduate Degree</option>


        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-branch">Branch</label>
        <select name="input-personal-branch" class="user-detail-field" required id="input-personal-branch">
          <option value="CSE">CSE</option>
          <option value="ECE">ECE</option>
          <option value="EEE">EEE</option>
          <option value="CHEM">CHEM</option>
          <option value="CIVIL">CIVIL</option>
          <option value="MECH">MECH</option>
          <option value="BIOT">BIOT</option>
          <option value="MME">MME</option>
        </select>
      </div>
    </div>
    <hr />
    <h3>Permanent Address</h3>
    <div class="field-container contact-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title wide-input required" for="input-address">Address</label>
        <input type="text" required id="input-adress" class="user-detail-field"
          placeholder="Tilak Marg, Mandi House,New Delhi" />
      </div>

      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-city">City</label>
        <input type="text" required id="input-city" class="user-detail-field" placeholder="New Delhi" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-state">State</label>
        <input type="text" required id="input-state" class="user-detail-field" placeholder="New Delhi" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-pincode">Postal Code</label>
        <input type="number" required id="input-personal-pincode" class="user-detail-field" placeholder="110001" />
      </div>
    </div>
    <hr />
    <h3>Education</h3><br>
    <h4>Post Graduation</h4>
    <div class="field-container contact-information">
      <div class="multiple-detail-container wide-input user-details">
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-postgraduate">Post Graduate Institute</label>
          <input type="text" required id="input-postgraduate" class="user-detail-field"
            placeholder="National Institute of Technology, AP" />
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-postgraduate-programme">Programme</label>
          <select name="input-pg-programme" class="user-detail-field" required id="input-pg-programme">
            <option value="MTech">M.Tech</option>
            <option value="MS">M.S</option>
            <option value="MBA">M.B.A</option>
          </select>
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-postgraduate-degree-specailization">Specialization</label>
          <select name="input-postgraduate-degree-specailization" class="user-detail-field" required
            id="input-postgraduate-degree-specailization">
            <option value="BioProcess Engineering">BioProcess Engineering</option>
            <option value="Chemical Engineering">Chemical engineering</option>
            <option value="Geotechnical Engineering">Geotechnical engineering</option>
            <option value="Computer Science and Data Analytics">Computer Science and Data Analytics</option>
            <option value="Power Electronics and Drives">Power Electronics and Drives</option>
            <option value="Advanced communication systems and signal processing">Advanced Communication systems and
              signal processing</option>
            <option value="Thermal Engineering">Thermal Engineering</option>
            <option value="Manufacturing Engineering">Manufacturing Engineering</option>
          </select>
        </div>


        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-yearOfEnrollment">Year of Enrollment</label>
          <input type="number" step="1" required id="input-yoepg" class="user-detail-field" placeholder="2016" />
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-yearOfGraduation">Year of Graduation</label>
          <input type="number" step="1" required id="input-yogpg" class="user-detail-field" placeholder="2020" />
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-postgraduate-score">CGPA</label>
          <input type="number" step="0.01" min="0" max="10" required id="input-postgraduate-score"
            class="user-detail-field" placeholder="8.94" />
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-inter-class">Class</label>
          <select name="input-pgdegree-class" class="user-detail-field" required id="input-pgdegree-class">
            <option value="">-</option>
            <option value="Distinction">Distinction</option>
            <option value="First Class">First Class</option>
            <option value="Second Class">Second Class</option>
            <option value="Third Class">Third Class</option>

          </select>
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-mtech">Post Graduation degree Marksheets</label>
          <input type="file" required id="input-pgdegree-marksheet" class="user-detail-field" accept="application/pdf"
            placeholder="Upload M.Tech Marksheets" />
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-mtech">Post Graduation degree Certificate</label>
          <input type="file" required id="input-pgdegree-certificate" class="user-detail-field" accept="application/pdf"
            placeholder="Upload M.Tech Certificate" />
        </div>


      </div>

    </div>


    <h4>Under Graduation</h4>
    <div class="multiple-detail-container wide-input user-details">

      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-undergraduate">Under Graduate Institute</label>
        <input type="text" required id="input-undergraduate" class="user-detail-field"
          placeholder="National Institute of Technology, AP" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-undergraduate-degree">Programme</label>
        <select name="input-ug-degree" class="user-detail-field" required id="input-ug-degree">
          <option value="BTech">B.Tech</option>
          <option value="BE">B.E</option>
          <option value="BSc">B.Sc</option>
          <option value="BCA">B.C.A</option>
        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-undergraduate-degree-specialization">Specialization</label>
        <select name="input-undergraduate-degree-specialization" class="user-detail-field" required
          id="input-undergraduate-degree-specialization">
          <option value="CSE">CSE</option>
          <option value="ECE">ECE</option>
          <option value="EEE">EEE</option>
          <option value="CHEM">CHEM</option>
          <option value="CIVIL">CIVIL</option>
          <option value="MECH">MECH</option>
          <option value="BIOT">BIOT</option>
          <option value="MME">MME</option>
        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-yearOfEnrollment">Year of Enrollment</label>
        <input type="number" step="1" required id="input-yoeug" class="user-detail-field" placeholder="2016" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-yearOfGraduation">Year of Graduation</label>
        <input type="number" step="1" required id="input-yogug" class="user-detail-field" placeholder="2020" />
      </div>

      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-undergraduate-score">CGPA</label>
        <input type="number" step="0.01" min="0" max="10" required id="input-undergraduate-score"
          class="user-detail-field" placeholder="8.54" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-inter-class">Class</label>
        <select name="input-ugdegree-class" class="user-detail-field" required id="input-ugdegree-class">
          <option value="">-</option>
          <option value="Distinction">Distinction</option>
          <option value="First Class">First Class</option>
          <option value="Second Class">Second Class</option>
          <option value="Third Class">Third Class</option>
        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-ugdegree">Under Graduation Degree Marksheets</label>
        <input type="file" required id="input-ugdegree-marksheets" class="user-detail-field" accept="application/pdf"
          placeholder="Upload Under Graduation Degree Marksheets" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-ugdegree">Under Graduation Degree Certificate</label>
        <input type="file" required id="input-ugdegree-certificate" class="user-detail-field" accept="application/pdf"
          placeholder="Upload Under Graduation Degree Certificate" />
      </div>
    </div>
    <h4>Intermediate</h4>
    <div class="multiple-detail-container wide-input user-details">

      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-12th">Intermediate College
        </label>
        <input type="text" required id="input-intermediate" class="user-detail-field"
          placeholder="albakra Junior College" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-intermediate-group">Group</label>
        <select name="input-intermediate-group" class="user-detail-field" required id="input-intermediate-group">
          <option value="MPC">MPC</option>
          <option value="MBiPC">MBiPC</option>
          <option value="MEC">MEC</option>
          <option value="BiPC">BiPC</option>
          <option value="DIPLOMA">DIPLOMA</option>
        </select>
      </div>

      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-yearOfEnrollment">Year of Enrollment</label>
        <input type="number" step="1" required id="input-yoe-inter" class="user-detail-field" placeholder="2016" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-yoc-inter">Year of Completion</label>
        <input type="number" step="1" required id="input-yoc-inter" class="user-detail-field" placeholder="2020" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-intermediate-score">Score</label>
        <input type="number" step="0.01" min="0" max="100" required id="input-intermediate-score"
          class="user-detail-field" placeholder="69.42" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-inter-class">Class</label>
        <select name="input-inter-class" class="user-detail-field" required id="input-inter-class">
          <option value="">-</option>
          <option value="Distinction">Distinction</option>
          <option value="First Class">First Class</option>
          <option value="Second Class">Second Class</option>
          <option value="Third Class">Third Class</option>
        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-inter">Intermediate certificate</label>
        <input type="file" required id="input-inter" class="user-detail-field" accept="application/pdf"
          placeholder="Upload intermediate certificate" />
      </div>

    </div>
    <h4>Tenth Grade</h4>
    <div class="multiple-detail-container wide-input user-details">
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-tenth">10th School
        </label>
        <input type="text" required id="input-tenth" class="user-detail-field" placeholder="shakti bhakti school" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-tenth-board">Board</label>
        <select name="input-tenth-board" class="user-detail-field" required id="input-tenth-board">
          <option value="State">State Board</option>
          <option value="CBSE">CBSE</option>
          <option value="ICSE">ICSE</option>
        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-yoc-tenth">Year of Completion</label>
        <input type="number" step="1" required id="input-yoc-tenth" class="user-detail-field" placeholder="2020" />
      </div>

      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-tenth-score">CGPA/Score</label>
        <input type="number" step="0.01" min="0" max="100" required id="input-tenth-score" class="user-detail-field"
          placeholder="9.5" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-inter-class">Class</label>
        <select name="input-inter-class" class="user-detail-field" required id="input-inter-class">
          <option value="">-</option>
          <option value="Distinction">Distinction</option>
          <option value="First Class">First Class</option>
          <option value="Second Class">Second Class</option>
          <option value="Third Class">Third Class</option>

        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-tenth">10th Standard certificate</label>
        <input type="file" required id="input-tenth" class="user-detail-field" accept="application/pdf"
          placeholder="Upload 10th certificate" />
      </div>
    </div>
    <br>
    <hr>
    <h3>Backlogs</h3>
    <div class="field-detail-container wide-input user-details">
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-backlogs">Do you have any backlogs?</label>
        <select name="input-backlogs" class="user-detail-field" required id="input-backlogs" onchange="backlogs()">
          <option value="NoBacklogs">I have no backlogs</option>
          <option value="NoOutstandingBacklogs">I do not have any outstanding backlogs but I had a few backlogs that I
            cleared</option>
          <option value="OutstandingBacklogs">I have some outstanding backlogs</option>
        </select>
      </div>
      <div style="display: none;" class="detail-label-and-field non-resizable-field" id="outBacklogs">
        <label class="user-detail-title" for="input-out-backlogs">Outstanding Backlogs</label>
        <div>
          <label for="">Number of Outstanding Backlogs</label>
          <input type="number" required id="input-backlogs-count" class="user-detail-field" placeholder="3" />

        </div>
        <textarea type="text" id="input-backlog-history" class="user-detail-field user-detail-text"
          placeholder="History of Backlogs"></textarea>

      </div>
    </div>
    <hr>
    <h3>Education Gap</h3><br>
    <div><input type="checkbox" name="eduGap" id="eduGap" onchange="eduGapDetails(this)"><label for="eduGap">&nbsp;Taken
        a break from education</label></div>
    <div style="display: none;" class="detail-label-and-field non-resizable-field" id="educationGap">
      <label class="user-detail-title" for="input-edu-gap">Reason for gap in your education</label>

      <textarea type="text" id="input-edu-gap" class="user-detail-field user-detail-text"
        placeholder="Describe about the gap in your education period"></textarea>
    </div>
    <hr />

    <div class="heading-container">
      <h3>Certifications</h3>
      <h4 class="edit-button remove-add-button" onclick="addCertificationRow()">Add</h4>
    </div>

    <div class="field-container personal-information" id="certification-container">
      <div class="three-detail-container wide-input">
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-certificate1">Certification Name</label>
          <input type="text" required id="input-certificate1" class="user-detail-field"
            placeholder="Machine Learning" />
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-issuing-authority">Issuing Authority</label>
          <input type="text" required id="input-issuing-authority" class="user-detail-field" placeholder="Coursera" />
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-certupload1">Upload certificate</label>
          <input type="file" required id="input-certupload1" class="user-detail-field" accept="application/pdf"
            placeholder="Upload 10th certificate" />
        </div>
        <div class="detail-label-and-field">
          <label class="user-detail-title hide">.</label>
          <h4 class="edit-button remove-add-button" onclick="removeRow(this)">Remove</h4>
        </div>
      </div>
    </div>

    <hr />
  </div>

  <h3>Upload Resume (only pdf)</h3>
  <div class="field-container personal-information">
    <div class="detail-label-and-field">
      <label class="user-detail-title required" for="input-resume">Resume</label>
      <input type="file" required id="input-resume" class="user-detail-field" accept="application/pdf"
        placeholder="Upload Resume" />
    </div>
  </div>
  </div>
  <hr />
  <h3>Experience</h3>
  <div class="field-container personal-information">
    <div class="detail-label-and-field non-resizable-field">
      <label class="user-detail-title required" for="input-techskills">Technical Skills</label>

      <textarea type="text" id="input-skills" class="user-detail-field user-detail-text"
        placeholder="Describe your technical skills"></textarea>
    </div>
    <div class="detail-label-and-field non-resizable-field">
      <div class="heading-container">
        <label class="user-detail-title" for="input-internships">Projects</label>
        <h4 class="edit-button remove-add-button" onclick="addProjectRow()">Add</h4>
      </div>
      <div class="field-container personal-information" id="project-container">
        <div class="field-container personal-information non-resizable-field">
          <div class="three-detail-container wide-input">

            <div class="detail-label-and-field non-resizable-field">
              <input type="text" required id="input-project-title" class="user-detail-field"
                placeholder="Project title" />

            </div>
            <div class="detail-label-and-field non-resizable-field">

              <select name="project-contribution-type" class="user-detail-field" required
                id="project-contribution-type">
                <option value="Team">Team</option>
                <option value="Individual">Individual</option>
              </select>

            </div>
            <div class="detail-label-and-field">
              <label class="user-detail-title hide">.</label>
              <h4 class="edit-button remove-add-button" onclick="removepppRow(this)">Remove</h4>
            </div>
          </div>
          <div class="detail-label-and-field non-resizable-field">
            <textarea type="text" id="input-projects" class="user-detail-field user-detail-text"
              placeholder="Tell us about your project. The basic idea, its impact, tech stack etc"></textarea>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="detail-label-and-field non-resizable-field">
    <div class="heading-container">
      <label class="user-detail-title" for="input-internships">Internships</label>
      <h4 class="edit-button remove-add-button" onclick="addInternshipRow()">Add</h4>
    </div>
    <div>
      <div class="field-container personal-information" id="internship-container">
        <div class="field-container personal-information non-resizable-field">
          <div class="three-detail-container wide-input">
            <div class="detail-label-and-field">
              <label class="user-detail-title" for="input-role">Role</label>
              <input type="text" required id="input-role" class="user-detail-field" placeholder="Machine Learning" />
            </div>
            <div class="detail-label-and-field">
              <label class="user-detail-title" for="input-company">Company</label>
              <input type="text" required id="input-company" class="user-detail-field" placeholder="Coursera" />
            </div>
            <div class="detail-label-and-field">
              <label class="user-detail-title" for="input-duration">Duration</label>
              <input type="text" required id="input-duration" class="user-detail-field" placeholder="6 months" />
            </div>
            <div class="detail-label-and-field">
              <label class="user-detail-title hide">.</label>
              <h4 class="edit-button remove-add-button" onclick="removepppRow(this)">Remove</h4>
            </div>
          </div>

          <div class="detail-label-and-field non-resizable-field">
            <label class="user-detail-title" for="input-certupload1">Description</label>
            <textarea type="text" id="input-internships" class="user-detail-field user-detail-text"
              placeholder="Describe Company, Role, Responsibitily"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="detail-label-and-field non-resizable-field">
    <label class="user-detail-title" for="input-awards">Awards/Recognitions received</label>

    <textarea type="text" id="input-awards" class="user-detail-field user-detail-text"
      placeholder="List Your Awards/Recognitions"></textarea>
  </div>
  <hr />
  <div class="detail-label-and-field non-resizable-field">
    <label class="user-detail-title" for="input-papers">Papers Publications</label>

    <textarea type="text" id="input-papers" class="user-detail-field user-detail-text"
      placeholder="Describe Your Published Papers"></textarea>
  </div>
  <hr />
  <div class="detail-label-and-field non-resizable-field">
    <label class="user-detail-title" for="input-hackathon">Hackathons Participated</label>

    <textarea type="text" id="input-hackathon" class="user-detail-field user-detail-text"
      placeholder="Hackathons Participated list"></textarea>
  </div>
  <hr />
  <div class="detail-label-and-field non-resizable-field">
    <div class="heading-container">
      <label class="user-detail-title" for="input-social-profile-links">Social Profiles</label>
      <h4 class="edit-button remove-add-button" onclick="addSocialProfilesRow()">Add</h4>
    </div>
    <div class="field-container personal-information" id="social-profiles-container">
      <div class="field-container personal-information non-resizable-field">
        <div class="three-detail-container wide-input">

          <select name="input-social-profile-links" class="user-detail-field" required id="input-social-profile-links">
            <option value="GitHub">GitHub</option>
            <option value="LinkedIn">LinkedIn</option>
            <option value="StackOverFlow">Stack Over Flow</option>
            <option value="Others">Others</option>
          </select>

          <h4 class="edit-button remove-add-button" onclick="removeRow(this)">Remove</h4>

        </div>

        <div class="detail-label-and-field">
          <input type="url" required id="social-profile-link" class="user-detail-field"
            placeholder="github profile link" />
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr />
  <div class="detail-label-and-field non-resizable-field">
    <label class="user-detail-title" for="input-extraca">Extra Curricular Activities</label>

    <textarea type="text" id="input-extraca" class="user-detail-field user-detail-text"
      placeholder="Describe your Extra Curricular Activities"></textarea>
  </div>
  <hr />
  <h3 class="required">Confirm the correctness of your details</h3>
  <div class="personal-information">
    <input type="checkbox" id="aggrement-check" name="aggrementCheck" style="display:inline" />
    <span class="user-detail-title" for="aggrement-check"> I agree that the details provided above are true and
      correct to the best of my knowledge. If any information I have provided is incorrect, I understand that I
      will be barred from attending any recruitment drives.</span>
  </div>
  </div>

  </div>
  </div>
</section>
{% endblock %}