{% extends 'recruitment/student_base.html' %}
{% load sass_tags %}

{% block metadata %}
<title>Edit Profile</title>
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/navbar-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/input-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/profile-styles.scss' %}" />
<link rel="stylesheet" href="{% sass_src 'recruitment/scss/dashboard-styles.scss' %}" />
{% endblock %}

{% block content %}
<section class="user-details-container">
  <div class="profile-picture-container">
    <img src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
      alt="user image" />
  </div>
  <div class="container-header">
    <h2 class="container-title">My Account</h2>
    <h4 class="edit-button">Save</h4>
  </div>

  <div class="user-details">
    <h3>Personal Information</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-firstname">First Name</label>
        <input type="text" required id="input-firstname" class="user-detail-field" placeholder="First Name" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-lastname">Last Name</label>
        <input type="text" required id="input-lastname" class="user-detail-field" placeholder="Last Name" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-mail">Email Address (personal)</label>
        <input type="email" required id="input-personal-mail" class="user-detail-field"
          placeholder="example@gmail.com" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-mobile">Mobile Number</label>
        <input type="tel" required id="input-personal-mobile" class="user-detail-field"
          placeholder="+91 1231231231" />
      </div>
    </div>
    <hr />
    <h3>Location Information</h3>
    <div class="field-container contact-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title wide-input required" for="input-address">Address</label>
        <input type="text" required id="input-adress" class="user-detail-field"
          placeholder="Tilak Marg, Mandi House,New Delhi" />
      </div>

      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-city">City</label>
        <input type="text" required id="input-city" class="user-detail-field" placeholder="New Delhi" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-state">State</label>
        <input type="text" required id="input-state" class="user-detail-field" placeholder="New Delhi" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-pincode">Postal Code</label>
        <input type="number" required id="input-personal-pincode" class="user-detail-field" placeholder="110001" />
      </div>
    </div>
    <hr />
    <h3>Education</h3>
    <div class="field-container contact-information">
      <div class="three-detail-container wide-input">
        <div class="name-specialization">
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-doctorate">Doctorate University</label>
            <input type="text" required id="input-doctorate" class="user-detail-field"
              placeholder="National Institute of Technology, AP" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-doctorate-Specialization">Specialization</label>
            <input type="number" step="0.01" required id="input-doctorate-specialization" class="user-detail-field"
              placeholder="Computer Architecture" />
          </div>
        </div>
        <div class="academic-stats">
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-doctorate-years">Entry Year</label>
            <input type="number" step="0.01" required id="input-doctorate-years" class="user-detail-field"
              placeholder="2020" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-doctorate-class">Class</label>
            <select name="input-phd-class" class="user-detail-field" required id="input-phd-class">
              <option value="Distinction">Distinction</option>
              <option value="First Class">First Class</option>
              <option value="Second Class">Second Class</option>
              <option value="Third Class">Third Class</option>
              <option value="Pass">Pass</option>
              <option value="Fail">Fail</option>
            </select>
          </div>
        </div>
      </div>
      <div class="three-detail-container wide-input">
        <div class="name-specialization">
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-postgraduate">Post Graduate Institute</label>
            <input type="text" required id="input-postgraduate" class="user-detail-field"
              placeholder="National Institute of Technology, AP" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-postgraduate-specailization">Specialization</label>
            <input type="number" step="0.01" required id="input-postgraduate-specailization" class="user-detail-field"
              placeholder="Computer Science" />
          </div>
        </div>
        <div class="academic-stats">
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-postgraduate-score">CGPA</label>
            <input type="number" step="0.01" required id="input-postgraduate-score" class="user-detail-field"
              placeholder="8.94" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-postgraduate-class">Class</label>
            <select name="input-pg-class" class="user-detail-field" required id="input-pg-class">
              <option value="Distinction">Distinction</option>
              <option value="First Class">First Class</option>
              <option value="Second Class">Second Class</option>
              <option value="Third Class">Third Class</option>
              <option value="Pass">Pass</option>
              <option value="Fail">Fail</option>
            </select>
          </div>
        </div>
      </div>
      <div class="three-detail-container wide-input">
        <div class="name-specialization">
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-undergraduate">Under Graduate Institute</label>
            <input type="text" required id="input-undergraduate" class="user-detail-field"
              placeholder="National Institute of Technology, AP" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-undergraduate-specialization">Specialization</label>
            <input type="number" step="0.01" required id="input-undergraduate-specialization" class="user-detail-field"
              placeholder="8.54" />
          </div>
        </div>
        <div class="academic-stats">
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-undergraduate-score">CGPA</label>
            <input type="number" step="0.01" required id="input-undergraduate-score" class="user-detail-field"
              placeholder="8.54" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-undergraduate-class">Class</label>
            <select name="input-ug-class" class="user-detail-field" required id="input-ug-class">
              <option value="Distinction">Distinction</option>
              <option value="First Class">First Class</option>
              <option value="Second Class">Second Class</option>
              <option value="Third Class">Third Class</option>
              <option value="Pass">Pass</option>
              <option value="Fail">Fail</option>
            </select>
          </div>
        </div>
      </div>
      <div class="three-detail-container wide-input">
        <div class="name-specialization">
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-12th">Intermediate College
            </label>
            <input type="text" required id="input-intermediate" class="user-detail-field"
              placeholder="albakra Junior College" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-intermediate-group">Group</label>
            <input type="number" step="0.01" required id="input-intermediate-group" class="user-detail-field"
              placeholder="MEC/MPC" />
          </div>
        </div>
        <div class="academic-stats">
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-intermediate-score">Score</label>
            <input type="number" step="0.01" required id="input-intermediate-score" class="user-detail-field"
              placeholder="69.42" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-inter-class">Class</label>
            <select name="input-inter-class" class="user-detail-field" required id="input-inter-class">
              <option value="Distinction">Distinction</option>
              <option value="First Class">First Class</option>
              <option value="Second Class">Second Class</option>
              <option value="Third Class">Third Class</option>
              <option value="Pass">Pass</option>
              <option value="Fail">Fail</option>
            </select>
          </div>
        </div>
      </div>
      <div class="three-detail-container wide-input">
        <div class="name-specialization">
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-tenth">10th School
            </label>
            <input type="text" required id="input-tenth" class="user-detail-field" placeholder="shakti bhakti school" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-tenth-board">Board</label>
            <input type="number" step="0.01" required id="input-tenth-board" class="user-detail-field"
              placeholder="CBSE" />
          </div>
        </div>
        <div class="academic-stats">
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-tenth-score">CGPA/Score</label>
            <input type="number" step="0.01" required id="input-tenth-score" class="user-detail-field"
              placeholder="9.5" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title required" for="input-tenth-class">Class</label>
            <select name="input-tenth-class" class="user-detail-field" required id="input-tenth-class">
              <option value="Distinction">Distinction</option>
              <option value="First Class">First Class</option>
              <option value="Second Class">Second Class</option>
              <option value="Third Class">Third Class</option>
              <option value="Pass">Pass</option>
              <option value="Fail">Fail</option>
            </select>
          </div>
        </div>
      </div>
      <div class="three-detail-container wide-input">
        <div class="name-specialization">
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-tenth">Other degrees
            </label>
            <input type="text" required id="input-tenth" class="user-detail-field" placeholder="Diploma" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-tenth-speliazation">Specialization</label>
            <input type="number" step="0.01" required id="input-tenth-speliazation" class="user-detail-field"
              placeholder="Economics" />
          </div>
        </div>
        <div class="academic-stats">
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-tenth-score">CGPA/Score</label>
            <input type="number" step="0.01" required id="input-tenth-score" class="user-detail-field"
              placeholder="9.5" />
          </div>
          <div class="detail-label-and-field">
            <label class="user-detail-title" for="input-other-class">Class</label>
            <select name="input-other-class" class="user-detail-field" required id="input-other-class">
              <option value="Distinction">Distinction</option>
              <option value="First Class">First Class</option>
              <option value="Second Class">Second Class</option>
              <option value="Third Class">Third Class</option>
              <option value="Pass">Pass</option>
              <option value="Fail">Fail</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h3>College Information</h3>
    <div class="field-container contact-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-rollnumber">Roll Number</label>
        <input type="number" required id="input-personal-rollnumber" class="user-detail-field" placeholder="411887" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-registrationnumber">Registration Number</label>
        <input type="number" required id="input-personal-registrationnumber" class="user-detail-field"
          placeholder="411887" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-programme">Programme</label>
        <select name="input-programme" class="user-detail-field" required id="input-programme">
          <option value="BTECH">B.Tech</option>
          <option value="MTECH">M.Tech</option>
          <option value="PHD">PhD</option>

        </select>
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-personal-branch">Branch</label>
        <select name="input-personal-branch" class="user-detail-field" required id="input-personal-branch">
          <option value="CSE">CSE</option>
          <option value="ECE">ECE</option>
          <option value="EEE">EEE</option>
          <option value="CHEM">CHEM</option>
          <option value="CIVL">CIVL</option>
          <option value="MECH">MECH</option>
          <option value="BIOT">BIOT</option>
          <option value="MME">MME</option>
        </select>
      </div>
    </div>
    <hr />

    <h3>Files(upload only pdf)</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-resume">Resume</label>
        <input type="file" required id="input-resume" class="user-detail-field" accept="application/pdf"
          placeholder="Upload Resume" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-tenth">10th Standard certificate</label>
        <input type="file" required id="input-tenth" class="user-detail-field" accept="application/pdf"
          placeholder="Upload 10th certificate" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-inter">Intermediate certificate</label>
        <input type="file" required id="input-inter" class="user-detail-field" accept="application/pdf"
          placeholder="Upload intermediate certificate" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title required" for="input-btech">B.Tech Certificate</label>
        <input type="file" required id="input-btech" class="user-detail-field" accept="application/pdf"
          placeholder="Upload B.Tech Certificate" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-mtech">M.Tech Certificate</label>
        <input type="file" required id="input-mtech" class="user-detail-field" accept="application/pdf"
          placeholder="Upload M.Tech Certificate" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-phd">PhD Certificate</label>
        <input type="file" required id="input-phd" class="user-detail-field" accept="application/pdf"
          placeholder="Upload PhD Certificate" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-degree">Other Degree</label>
        <input type="file" required id="input-degree" class="user-detail-field" accept="application/pdf"
          placeholder="Upload Other Degree Certificate" />
      </div>
    </div>
    <hr />
    <h3>Certifications</h3>
    <div class="field-container personal-information">
      <div class="multiple-detail-container wide-input">
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-certificate1">Certification Name</label>
        <input type="text" required id="input-certificate1" class="user-detail-field"
          placeholder="Machine Learning" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-certupload1">Upload certificate</label>
        <input type="file" required id="input-certupload1" class="user-detail-field" accept="application/pdf"
          placeholder="Upload 10th certificate" />
      </div>
      </div>
      <div class="multiple-detail-container wide-input">
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-certificate2">Certification Name</label>
        <input type="text" required id="input-certificate2" class="user-detail-field"
          placeholder="Algorithm Toolbox" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-certupload2">Upload certificate</label>
        <input type="file" required id="input-certupload2" class="user-detail-field" accept="application/pdf"
          placeholder="Algorithm Toolbox" />
      </div>
      </div>
      <div class="multiple-detail-container wide-input">
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-certificate3">Certification Name</label>
        <input type="text" required id="input-certificate3" class="user-detail-field" placeholder="Cloud Computing" />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-certupload3">Upload certificate</label>
        <input type="file" required id="input-certupload3" class="user-detail-field" accept="application/pdf"
          placeholder="Upload certificate" />
      </div>
      </div>

    </div>
    <hr />
    <h3>Experience</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field non-resizable-field">
        <label class="user-detail-title required" for="input-techskills">Technical Skills</label>

        <textarea type="text" id="input-skills" class="user-detail-field user-detail-text"
          placeholder="Describe your technical skills"></textarea>
      </div>
      <div class="detail-label-and-field non-resizable-field">
        <label class="user-detail-title" for="input-projects">Projects</label>
        <div class="project-meta-data">
          <input type="text" required id="input-project-title" class="user-detail-field" placeholder="Project title"  />
          <select name="project-contribution-type" class="user-detail-field" required id="project-contribution-type">
            <option value="Team">Team</option>
            <option value="Individual">Individual</option>
          </select>
        </div>
        <textarea type="text" id="input-projects" class="user-detail-field user-detail-text"
        placeholder="About project  and its description"></textarea>
        <input type="text" required id="input-project-impact" class="user-detail-field" placeholder="Impact of project" />
        <input type="text" required id="input-project-tech" class="user-detail-field" placeholder="Tech Stack used in project" />
      </div>

      </div>
      <div class="detail-label-and-field non-resizable-field">
        <label class="user-detail-title" for="input-internships">Internships</label>

        <textarea type="text" id="input-internships" class="user-detail-field user-detail-text"
          placeholder="Describe Company, Role, Responsibitily"></textarea>
      </div>
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <label class="user-detail-title" for="input-awards">Awards/Recognitions received</label>

      <textarea type="text" id="input-awards" class="user-detail-field user-detail-text"
        placeholder="List Your Awards/Recognitions"></textarea>
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <label class="user-detail-title" for="input-papers">Papers Publications</label>

      <textarea type="text" id="input-papers" class="user-detail-field user-detail-text"
        placeholder="Describe Your Published Papers"></textarea>
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <label class="user-detail-title" for="input-hackathon">Hackathons Participated</label>

      <textarea type="text" id="input-hackathon" class="user-detail-field user-detail-text"
        placeholder="Hackathons Participated list"></textarea>
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <label class="user-detail-title" for="input-social-profile-links">Social Profiles</label>
      <select name="input-social-profile-links" class="user-detail-field" required id="input-social-profile-links">
        <option value="GitHub">GitHub</option>
        <option value="LinkedIn">LinkedIn</option>
        <option value="StackOverFlow">Stack Over FLow</option>
      </select>
      <input type="url" required id="social-profile-link" class="user-detail-field"
      placeholder="github profile link" />
    </div>
    <hr />
    <div class="detail-label-and-field non-resizable-field">
      <label class="user-detail-title" for="input-extraca">Extra Curricular Activities</label>

      <textarea type="text" id="input-extraca" class="user-detail-field user-detail-text"
        placeholder="Describe your Extra Curricular Activities"></textarea>
    </div>
    <hr />
    <h3 class="required">Confirm the correctness of your details</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field non-resizable-field" style="display: inline">
        <input type="checkbox" id="aggrement-check" name="aggrementCheck" />
        <label class="user-detail-title" for="aggrement-check"> I agree that the details provided above are true and
          correct to the best of my knowledge. If any information I have provided is incorrect, I understand that I
          will be barred from attending any recruitment drives.</label>
      </div>
    </div>
  </div>

  </div>
</section>
{% endblock %}
