{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T & P cell</title>

    <link rel="stylesheet" href="{% sass_src 'recruitment/scss/navbar-styles.scss' %}" />
    <link rel="stylesheet" href="{% sass_src 'recruitment/scss/input-styles.scss' %}" />
    <link rel="stylesheet" href="{% sass_src 'recruitment/scss/dashboard-styles.scss' %}" />
    <link rel="stylesheet" href="{% sass_src 'recruitment/scss/recruiter-form-styles.scss' %}" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="user-details-container">
      <div class="container-header">
        <h2 class="container-title">RECRUITER REGISTRATION FORM</h2>
        <h4 class="edit-button">POST</h4>
      </div>
      <div class="user-details">
        <h3 class="required">Name</h3>
        <div class="field-container personal-information">
          <div class="detail-label-and-field">
            <input
              type="text"
              required
              id="input-name"
              class="user-detail-field"
              placeholder="Enter your name here"
            />
          </div>
        </div>
        <br />
        <h3 class="required">Company</h3>
        <div class="field-container personal-information">
          <div class="detail-label-and-field">
            <input
              type="text"
              required
              id="input-company"
              class="user-detail-field"
              placeholder="Enter your company name here"
            />
          </div>
        </div>
        <br />
        <h3 class="required">Email address</h3>
        <div class="field-container personal-information">
          <div class="detail-label-and-field">
            <input
              type="email"
              required
              id="input-email"
              class="user-detail-field"
              placeholder="Enter your email address here"
            />
          </div>
        </div>
        <br />
        <h3 class="required">Phone number</h3>
        <div class="field-container personal-information">
          <div class="detail-label-and-field">
            <input
              type="tel"
              required
              id="input-location"
              class="user-detail-field"
              placeholder="Enter your phone number here"
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>


