<div class="round-details">
    <div class="details-container">
        <h2>{{ job_round.name }}</h2>
        <h4>venue: {{ job_round.venue }}</h4>
        <h4>link: {{ job_round.link }}</h4>
        <h4>Reporting time: {{ job_round.reporting_time }}</h4>
        <h4>Selected: {{ job_round.selected.all.count }}</h4>
    </div>
    <div class="details-container">
        <h2>procedure</h2>
        <p>{{ job_round.description }}</p>
    </div>
    <div class="details-container">
        <h2>Contact</h2>
        <h4>Number: {{ job_round.contact_num }}</h4>
        <h4>E-mail: {{ job_round.contact_email }}</h4>
    </div>
</div>