{% extends 'recruitment/student_base.html' %}
{% load sass_tags %}

{% block metadata %}
    <title>T & P cell</title>
    <link rel="stylesheet" href="{% sass_src 'recruitment/scss/navbar-styles.scss' %}"/>
    <link rel="stylesheet" href="{% sass_src 'recruitment/scss/input-styles.scss' %}"/>
    <link rel="stylesheet" href="{% sass_src 'recruitment/scss/dashboard-styles.scss' %}"/>
    <link rel="stylesheet" href="{% sass_src 'recruitment/scss/profile-styles.scss' %}"/>
    {% endblock %}

{% block content %}
<section class="user-details-container">
  <div class="profile-picture-container">
    <img
      src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
      alt="user image"
    />
  </div>
  <div class="container-header">
    <h2 class="container-title">My Account</h2>
    <h4 class="edit-button">Edit</h4>
  </div>
  <div class="user-details">
    <h3>Personal Information</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-firstname"
          >First Name</label
        >
        <input
          readonly
          type="text"
          required
          id="input-firstname"
          class="user-detail-field profile-field"
          placeholder="First Name"
        />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-lastname"
          >Last Name</label
        >
        <input
          readonly
          type="text"
          required
          id="input-lastname"
          class="user-detail-field profile-field"
          placeholder="Last Name"
        />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-personal-mail"
          >Email Address (personal)</label
        >
        <input
          readonly
          type="email"
          required
          id="input-personal-mail"
          class="user-detail-field profile-field"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-personal-mobile"
          >Mobile Number</label
        >
        <input
          readonly
          type="tel"
          required
          id="input-personal-mobile"
          class="user-detail-field profile-field"
          placeholder="+91 1231231231"
        />
      </div>
    </div>
    <hr />
    <h3>Location Information</h3>
    <div class="field-container contact-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title wide-input" for="input-address"
          >Address</label
        >
        <input
          readonly
          type="text"
          required
          id="input-adress"
          class="user-detail-field profile-field"
          placeholder="Tilak Marg, Mandi House,New Delhi"
        />
      </div>

      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-city">City</label>
        <input
          readonly
          type="text"
          required
          id="input-city"
          class="user-detail-field profile-field"
          placeholder="New Delhi"
        />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-personal-pincode"
          >Postal Code</label
        >
        <input
          readonly
          type="number"
          required
          id="input-personal-pincode"
          class="user-detail-field profile-field"
          placeholder="110001"
        />
      </div>
    </div>
    <hr />
    <h3>Education</h3>
    <div class="field-container contact-information">
      <div class="multiple-detail-container wide-input">
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-undergraduate"
            >Under Graduate Institute</label
          >
          <input
            readonly
            type="text"
            required
            id="input-undergraduate"
            class="user-detail-field profile-field"
            placeholder="National Institute of Technology, AP"
          />
        </div>
        <div class="detail-label-and-field">
          <label
            class="user-detail-title wide-input"
            for="input-undergraduate-score"
            >CGPA</label
          >
          <input
            readonly
            type="number"
            step="0.01"
            required
            id="input-undergraduate-score"
            class="user-detail-field profile-field"
            placeholder="8.54"
          />
        </div>
      </div>
      <div class="multiple-detail-container wide-input">
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-12th"
            >Intermediate College
          </label>
          <input
            readonly
            type="text"
            required
            id="input-intermediate"
            class="user-detail-field profile-field"
            placeholder="albakra Junior College"
          />
        </div>
        <div class="detail-label-and-field">
          <label
            class="user-detail-title wide-input"
            for="input-intermediate-score"
            >Score</label
          >
          <input
            readonly
            type="number"
            step="0.01"
            required
            id="input-intermediate-score"
            class="user-detail-field profile-field"
            placeholder="69.42"
          />
        </div>
      </div>
      <div class="multiple-detail-container wide-input">
        <div class="detail-label-and-field">
          <label class="user-detail-title" for="input-tenth"
            >10th School
          </label>
          <input
            readonly
            type="text"
            required
            id="input-tenth"
            class="user-detail-field profile-field"
            placeholder="shakti bhakti school"
          />
        </div>
        <div class="detail-label-and-field">
          <label
            class="user-detail-title wide-input"
            for="input-tenth-score"
            >CGPA/Score</label
          >
          <input
            readonly
            type="number"
            step="0.01"
            required
            id="input-tenth-score"
            class="user-detail-field profile-field"
            placeholder="9.5"
          />
        </div>
      </div>
    </div>
    <hr />
    <h3>College Information</h3>
    <div class="field-container contact-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-personal-rollnumber"
          >Roll Number</label
        >
        <input
          readonly
          type="number"
          required
          id="input-personal-rollnumber"
          class="user-detail-field profile-field"
          placeholder="411887"
        />
      </div>
      <div class="detail-label-and-field">
        <label
          class="user-detail-title"
          for="input-personal-registrationnumber"
          >Registration Number</label
        >
        <input
          readonly
          type="number"
          required
          id="input-personal-registrationnumber"
          class="user-detail-field profile-field"
          placeholder="411887"
        />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-personal-branch"
          >Branch</label
        >
        <select
          name="input-personal-branch"
          class="user-detail-field profile-field"
          required
          id="input-personal-branch"
        >
          <option value="CSE">CSE</option>
          <option value="ECE">ECE</option>
          <option value="EEE">EEE</option>
          <option value="CHEM">CHEM</option>
          <option value="CIVL">CIVL</option>
          <option value="MECH">MECH</option>
          <option value="BIOT">BIOT</option>
          <option value="MME">MME</option>
        </select>
      </div>
    </div>
    <hr />
    <h3>Files</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-resume">Resume</label>
        <input
          readonly
          type="file"
          required
          id="input-resume"
          class="user-detail-field profile-field"
          placeholder="Upload Resume"
        />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-tenth"
          >10th Standard certificate</label
        >
        <input
          readonly
          type="file"
          required
          id="input-tenth"
          class="user-detail-field profile-field"
          placeholder="Upload 10th certificate"
        />
      </div>
      <div class="detail-label-and-field">
        <label class="user-detail-title" for="input-inter"
          >Intermediate certificate</label
        >
        <input
          readonly
          type="file"
          required
          id="input-inter"
          class="user-detail-field profile-field"
          placeholder="Upload intermediate certificate"
        />
      </div>
    </div>
    <hr />
    <h3>Experience</h3>
    <div class="field-container personal-information">
      <div class="detail-label-and-field non-resizable-field">
        <label class="user-detail-title" for="input-skills">Skills</label>

        <textarea
          readonly
          type="text"
          id="input-skills"
          class="user-detail-field profile-field user-detail-text"
          placeholder="Describe your skills"
        ></textarea>
      </div>
      <div class="detail-label-and-field non-resizable-field">
        <label class="user-detail-title" for="input-internships"
          >Internships</label
        >

        <textarea
          readonly
          type="text"
          id="input-internships"
          class="user-detail-field profile-field user-detail-text"
          placeholder="Describe Company, Role, Responsibitily"
        ></textarea>
      </div>
    </div>
  </div>
</section>
{% endblock %}
